* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-image: url('background.webp');
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;

  }

  /*h3{
    color: #fff;
    margin-right: 500px;
    margin-top: 350px;
    margin-left: 500px;
  }*/
  
  a:hover{
    color: orange;
    padding: 0 2rem;
  }

  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;

  }
  .navbar .links{
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .action-btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }

  .action-btn:hover{
    scale: 1.05;
    color: #fff;
  }

  .action-btn:active{
    scale: 0.95;
  }

.wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  min-height: 100vh; 
}

.box{
  max-width: 500px;
  background: #fff;
  padding: 30px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px ;
}

.upload-area-title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600px;


}

.uploadlabel{
  width: 100%;
  min-height: 100px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed rgb(22, 118, 118);
  cursor: pointer;
  color: white;
}

.uploadlabel span{
  color: aqua;
  font-size: 20px;
  font-weight: 800;
  font-family: cursive;

}
.uploaded{
  padding-top: 10px;
  margin: 30px,0;
  font-size : 16px;
  font-weight: 700;
  color: rgb(61, 53, 53);
}

.showfilebox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px,0;
  padding: 10px 15px;
  box-shadow: #020202 0px 0px 0px 1px
  #0000003d 0px 0px 0px 1px inset;
  background-color: #fff;

}

.showfilebox .left{
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filetype{
  background: aqua;
  color: #fff;
  padding: 5px 15px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 3px;

}


.left h3{
  padding-top: 5px;
  font-weight: 600;
  font-size: 18px;
  color:black;
  margin: 0;

}

.right span{
  color:#070707;
  background-color:cy;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;

}

/* .words{
  justify-content: right;
  align-items: center;
  padding: 15px;
  width: 100%;
  min-height: 100vh; 
  color:black;

}

 .border{
  max-width: 500px;
  background: #fff;
  padding: 30px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px ;
} */





  /* Design*/

  @media(max-width: 992px){
    .navbar .links,
    .navbar .action-btn{
        display: none;

    }
  } 